



/* 전체적인 배치 및 배경색 */
*{
	margin:0;        
	padding:0;
    background-color:cornsilk;
}

.main-container{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top: 47px;
}

.main-container .main-wrap .sel-lang-wrap
{
	width: 96px;
	height: 30px;
}

.main-container .main-wrap .logo-wrap{
	padding-top:55px;
}

.main-container .main-wrap .logo-wrap img
{
	width: 231px;
	height: 44px;
}

.main-container .main-wrap header .sel-lang-wrap{
	display:flex;
	justify-content:flex-end;
}

.main-container .main-wrap header .logo-wrap{
	display:flex;	
	flex-direction: column;
	align-items: center;
}


.login-input-section-wrap{  /* 아이디, 비번창 화면중앙으로 */
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-input-wrap{  /*아이디, 비번창*/
	width: 465px;
	height :48px;
	border: solid 1px lightgrey;
    border-radius: 11px;
	background: white;
}

.login-input-wrap input{   /*아이디, 비번 입력input창 늘리기*/
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
    background-color: white;
}

.password-wrap{  /*아이디, 비번창 서로 간격 띄우기*/
	margin-top: 13px;
}


.login-button-wrap {   /* 비번창, 로그인버튼 간격 띄우기*/
	padding-top: 20px;
}

.login-button-wrap button{ /* 로그인 버튼 디자인*/
	width: 465px;
	height :48px;
	font-size: 18px;
    border-radius: 50px;
	color: white;
	border: solid 1px blanchedalmond;
    background-color:lightsteelblue;
    cursor: pointer;
}




/* 간편 로그인 버튼 중앙배치 */
.Easy-sgin-in-wrap{ 

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}
/* 간편 로그인 제목 사이즈 */
.Easy-sgin-in-wrap h2{
	font-size: 20px;
}


/* 간편 로그인 버튼 list형태수정 */
.Easy-sgin-in-wrap .sign-button-list 
{
	padding-top:25px;
	list-style: none;
	width: 465px;
	display: flex;
	flex-direction: column;  
	align-items: center;
}


/* 간편 로그인 버튼 list 설정*/
.Easy-sgin-in-wrap .sign-button-list li{ 
	margin-bottom: 10px;  

} /* 간편 로그인 버튼 설정 */
.Easy-sgin-in-wrap .sign-button-list li button{ 
    width: 455px;
	height: 56px;
	border: solid 1px lightgrey;
    border-radius: 12px;
	text-align: left;
    padding-left: 20px;
	background: white;
    cursor: pointer;
}


/*간편 로그인창 폰트사이즈*/
.Easy-sgin-in-wrap .sign-button-list li button span{
	padding-left: 20px;
	font-size: 18px;    
}


.Easy-sgin-in-wrap .forget-msg{
	font-size: 14px;
	padding-top: 10px;
}

.forget-account-a {
    text-decoration: none;
    color:gray;
    padding-left: 10px;
    padding-right: 10px;
}
.forget-account-p{
    text-align: center;
    margin-top: 16px;
    font-size: 15px;
}


/*footer 위치 조정*/
footer{
    margin-top: 195px;
    background-color:blanchedalmond;
    padding-top: 10px;
    padding-bottom: 15px; 

    display:flex;
    flex-direction:column;
    align-items:center;
    width: 768px;
    font-size: 12px;
    line-height: 15px;
}



.container {
    display: column;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
}

.GoogleButton {
    padding: 17px;
    padding-top: 30px;
    width: 325px;
}

.FacebookButton {
    width: 290px;
}

