.product-container {
    display: flex;
    border: 0.7px solid #d9d9d9;
    margin: 1rem;
    margin-left: 2rem;
    padding: 1rem;
    width: 800px; 
    aspect-ratio: 4;
    align-items: center;
    & #itemCheckbox { margin-right: 10px;}
    & img {
        
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    & .product-text {
        display: block;
        margin-left: 15px;
        & p {
            margin-bottom: 0;
            margin-left: 15px;
            font-size: 12px;
        }
        & .product-quantity {
            margin-top: 10px;
            justify-content: center;
        }
        & #qtyForm {
            width: 25px;
            height: 25px;
            border: 0.7px solid #d9d9d9;
            text-align: center;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    }
    .button.icon {
        margin: 5px;
        width: 25px;
        height: 25px;
    
    }
    & .mdButtons {

        position: relative;
        bottom: 60px; left: 200px;
    }
    & .product-price {
        position: relative;
        top: 75px; left: 80px;
        color: #60AB90;
        font-size: 24px;
        font-weight: bolder;
    }
}

.popup_container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 10px;
    & .popup_img {
        width: 100px;
        aspect-ratio: 1;
        object-fit: cover;
    }
    & .popup_title {
        font-weight: bold;
        margin-bottom: 5px;
    }
    & .popup_options {
        font-size: 9px;
        color: gray;
    }
    .popup_price {
        color: #60AB90;
        font-weight: bold;
    }
    
}