.price_container {
    width: fit-content;
        .text_container {
            padding: 20px;
            margin-left: 20px;
            color: grey;
            font-size: small;
            text-align: end;
            .price {
            color: #60AB90;
            font-size: 24px;
            font-weight: bolder;
        }
    }
}