.cart-container {
  display: flex;
  min-height: 600px;
  position: relative;
  justify-content: space-around;
  margin-bottom: 5rem;
  margin-top: 2rem;

  .item_list {
    h2 {
      margin: 50px 0 0 50px;
    }
  }
  .pay {
    align-self: flex-end;
    position: sticky;
    bottom: 10px;
  }
}
.buttons {
  display: block;
  min-width: max-content;
}

@media (max-width: 992px) {
  .cart-container {
    display: block;
    .item:nth-child(1) {
      h2 {
        display: none;
      }
    }

    .item:nth-child(4) {
      & input {
        margin-bottom: 1rem;
      }
      position: relative;
    }
  }
}
