.cart-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    
    .item:nth-child(1) {
        h2 {
            margin: 50px 0 0 50px;
        }
    }
    .item:nth-child(4) {
        align-self: flex-end;
        margin: 5px 5px 5px 5px;
        position: sticky;
        bottom :10px;
    }
}
.buttons {
    display: block;
    min-width: max-content;
}

@media (max-width: 992px) {
    .cart-container {
        display: block;
        .item:nth-child(1) {
            h2 {
            margin: 10px;
            text-align: center;
            }
        }
        
        .item:nth-child(4) {
            & input {
                margin-bottom: 1rem;
            }
            position: relative;
        }
    }
    

}