.maincomp {
  
  & ul {
    padding: 0 10px;
  }
}

.main_banner {
  height: 500px;
  background: url('./img/e94a86d894d255db.png') no-repeat center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;

  button {
    position: absolute;
    bottom: 5%;
  }
}

.main_slide {
  max-width: 1200px;
  margin: 0 auto 2.5rem;

  & .main_slide_item {
    display: flex !important;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.main_circlemenu {
  display: flex;
  justify-content: center;

  & .main_circleitem {
    &:hover {
      transform: scale(1.15);
      transition: 0.3s;
    }
    img {
      width: 80%;
      aspect-ratio: 1 / 1;
      background-color: cadetblue;
      border-radius: 50%;
      margin-bottom: 1rem;
      transition: 0.3s;

      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
      object-fit: cover;
    }
  }
}

.main_review, .main_design {
  display: flex;
  justify-content: center;

  & .main_review_item, .main_design_item {
    width: 90%;
    aspect-ratio: 1 / 1;
    background-color: darkorange;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
  }

  & .main_design_item {
    background-color: darkblue;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
  }
}