.profile {
    background-color: rgb(171, 230, 227);
    min-width: 25rem;
    height: 12rem;
    display: flex;
    position: relative;
    left: 40%;
    .circled_container {
        margin: 2rem 2rem;
        overflow: hidden;
        position: relative;
        width: 10rem;
        height: 10rem;
        img {        
            
            border-radius: 50%;
            display: flex;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }
    & .text {
        margin-top: 2rem;
        margin-left: -3rem;
        #username {
            font-size: larger;
            font-weight: bold;
        }
        #intro {
            margin-top: 0.8rem;
        }
        .social {
            margin-top: 1rem;
            display: flex;
            img {
                width: 40px;
                height: 40px;
                padding: 5px;
            }
        }
    }
}