



/*홈페이지 로고 이미지*/
.image{
    margin-top: 49px;
    border: 1px dashed burlywood;
    border-radius: 20px;
}


/* 회원가입 페이지 전체 디자인*/
.main-signup{
    text-align: center;
    width: 460px;
    margin: auto;
}

/* 모든 input 입력창에 마우스 올리면 포인터 전환*/
.JoinMain input{
    cursor: pointer;
}

/* 모든 제목창 디자인 */
.text{
    margin:19px 0px 8px;
    text-align: left;
    font-size: 14px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*//////////////////////////////////////////////////////////////////////*/


.id-password-input {
    margin-top: 30px;
}

/* 아이디, 비밀번호/재확인 입력창 외부 디자인 */
.signup-input{
    display:flex;
    padding: 10px;
    border: solid 1px #dadada;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
}

/* 아이디, 비밀번호/재확인 입력창 내부 디자인 */
.signup-id, .signup-pw, .signup-pww{
    
    height: 35px;
    border: none;
    outline:none;
    width: 100%;
    border: solid 1px lightgrey;
    border-radius: 11px;
}



/*//////////////////////////////////////////////////////////////////////*/


.name-birth-gender-email{
    margin-top: 50px;
}

/* 이름, 성별, 이메일, 휴대전화 국적/폰번호 입력창*/
    .signup-name, .signup-gender, .signup-email, .signup-country {
    width:100%;
    height: 29px;
    border: none;
    outline:none;
}

/* 성별 선택창 디자인 */
.signup-gender{
    background-color: white;
}

.signup-country{
    background-color: white;
}


.birthOption {
    display: flex;
}


/* 생년월일 입력창 */
.signup-input-birth{
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    margin-left: 10px;
}
.signup-birth-yy, .signup-birth-mm, .signup-birth-dd{
    width: 113px;
    height: 29px;
    border: none;
    outline:none;
}




/*본인 확인 이메일 디자인*/
.choice{
    display: flex;
}




/* /////////////////////////////////////////////////////////////// */



/* 가입하기 버튼 외부박스 디자인*/
.signup-btn-wrap{
    margin: 31px auto 0px auto;
    width: 140px;
    height: 41px;
    line-height: 39px;
    border: solid 1px lightblue;
    border-radius: 50px;
    background-color:azure;
    color: #fff;
    cursor: pointer;
}



/* 회원가입 버튼 내부 디자인*/
.signup-btn{
    width:100px;
    height: 38px;
    border: none;
    background-color:azure;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*//////////////////////////////////////////////////////////////////////*/


// 휴대전화 입력창
.inputPhone {
    margin-top: 35px;
}
.phoneNumber {
    display: flex;
}
.phoneNumberSpan {
    cursor: pointer;
    display:flex;
    padding: 10px;
    border: solid 1px #dadada;
    border-radius: 15px;
    background: #fff;
    width:100%;
    margin: 10px 0px 0px 0px;
}
.signup-phone {
    width:100%;
    height: 29px;
    border: none;
    outline:none;
}

