.header {
    margin: 1rem 1rem;
    
    display: flex;
    justify-content: space-between;
    #title {
        font-size: 1.5rem;
    }
}

#Container {
    & img {
        display: flex;
        width: 200px;
    }
}

#preview-image {
    width: 200px;
    aspect-ratio: 1;
}