// 버튼색상
$blue: #4b93e3;
$red: #ff8888;
$orange: #ffb251;
$green: #5bdb60;
$brown: #c19d95;
$darkgreen: #3da982;
$mint: #4debbb;
$facebook: #475a96;

.mydesign_page {
  .header {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    #title {
      font-size: 1.5rem;
    }
  }

  #Container {
    .row {
      padding: 0 1rem;

      > * {
        padding: 0.1rem;
      }
    }
    & img {
      display: flex;
      width: 200px;
    }
  }
  #preview-image {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 20px;
  }
  #temp_image {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: $mint;
    border: 1px solid lightgrey;
    margin: 0;
    img {
      object-fit: cover;
      width: inherit;
    }
  }
}
.modal-content {
  .modal_head {
    display: flex;
    justify-content: space-between;

    > button {
      aspect-ratio: 1/1;
      width: 30px;
    }

    .bs-popover-start {
      button {
        color: black;
        padding: 0.5rem 2rem;
      }
    }
  }
  .modal_body {
    margin: 2rem 0 2rem 0;
    .hashtag span {
      font-size: 0.9rem;
      background-color: #a6fae1;
      color: #3da982;
      border-radius: 500px;
      padding: 0.2rem 0.6rem;
      margin-right: 0.5rem;
      cursor: pointer;

      &::before {
        content: "#";
      }

      &:hover {
        background-color: lighten(#a6fae1, 10%);
        color: lighten(#3da982, 10%);
      }
    }
  }
  .modal_footer {
    position: absolute;
    bottom: 0;
    display: flex;
    right: 0;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0.5rem;
    .profile_block {
      #date_span {
        font-size: small;
        color: grey;
      }
    }
  }
}
