.review_modal {
    position: relative;
  
    .modal_top {
      display: flex;
      margin-bottom: 1rem;
  
      .star {
        margin: 0.5rem auto;
        svg {
          font-size: 2rem;
        }
      }
    }

    .modal_body {
      & .img_block img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .modal_title {
        margin: 0;
      }
  
      .option {
        margin-bottom: 0.5rem;
  
        p {
          margin: 0;
          font-size: 0.8rem;
          color: grey;
        }
      }
      .hashtag {
        margin-bottom: 1rem;
  
        span {
          font-size: 0.9rem;
          background-color: #a6fae1;
          color: #3da982;
          border-radius: 500px;
          padding: 0.2rem 0.6rem;
          margin-right: 0.5rem;
          cursor: pointer;
  
          &::before {
            content: '#';
          }
  
          &:hover {
            background-color: lighten(#a6fae1, 10%);
            color: lighten(#3da982, 10%);
          }
        }
      }
      .score {
        color: grey;
        display: flex;
        justify-content: end;
        font-size: 0.85rem;
  
        i {
          margin: 0 0.3rem;
        }
        span {
          margin-right: 1rem;
        }
      }
    }
  
    .content_block {
      position: relative;
  
      .modal_footer {
        position: absolute;
        bottom: 0;
        display: flex;
        left: 0;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem 0.5rem;
  
        .profile_block {
          display: flex;
          align-items: center;
          cursor: pointer;
  
          img {
            width: 50px;
          }
  
          div:nth-child(2) {
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;
  
            p {
              margin: 0;
  
              &:nth-child(1) {
                font-weight: 900;
                font-size: 1.2rem;
                line-height: 1;
              }
              &:nth-child(2) {
                color: grey;
              }
            }
          }
        }
      }
    }
  }
  
  // 마이디자인 - 나의 리뷰 css
  .my_review {
    margin-bottom: 4rem;

  }
  #review_popover {
    z-index: 10000;
  }