// 버튼색상
$blue: #4b93e3;
$red: #ff8888;
$orange: #ffb251;
$green: #5bdb60;
$brown: #c19d95;
$darkgreen: #3da982;
$mint: #4debbb;
$facebook: #475a96;

.design_page {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    text-align: center;
    margin: 50px 0 50px 0;
  }

  .row {
    padding: 0 1rem;

    > * {
      padding: 0.1rem;
    }
  }

  #preview_image {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: $mint;
    border: 1px solid lightgrey;
    margin: 0;
    img {
      object-fit: cover;
      width: inherit;
    }
  }

  .img_block {
    width: fit-content;
  }

  .content_block {
    & .modal_body {
      .hashtag span {
        font-size: 0.9rem;
        background-color: #a6fae1;
        color: #3da982;
        border-radius: 500px;
        padding: 0.2rem 0.6rem;
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }
    & .modal_footer {
      display: flex;
      position: absolute;
      bottom: 0;
      align-items: center;
      justify-content: space-between;
      .profile_block {
        #date_span { // 날짜
        font-size: smaller;
        color: gray;
      }
      }

      
      & .button_block {
        display: block;
        margin-left: auto;
      }
    }
  }
}
