.LoginLogin_Main {
  & .Loginmain_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .Loginmain_wrap {
			width: 327px;

			// 아이디 비밀번호 입력창
      & .Loginlogin_input_section_wrap {
        /* 아이디, 비번창 화면중앙으로 */
        display: flex;
        flex-direction: column;
        align-items: center;

        & .Loginlogin_input_wrap {
					width: 100%;
					border: solid 1px lightgrey;
          border-radius: 7px;
					display: flex;
					margin-bottom: 1rem;
					align-items: center;

          & input {
            /* 아이디, 비번 입력input창 */
            width: 100%;
						display: block;
            font-size: 14px;
						padding-right: 5px;
            height: 48px;
						border-radius: 7px;
						border: none;

						&:focus-visible {
							outline: none;
						}
          }

					& .icon {
						margin: 0 1rem;
						font-size: 23px;
						color: #c19d95;
					}
        }

				// 아이디 비밀번호 찾기 및 회원가입
				& .Loginforget_account_p {
					text-align: center;
					margin-bottom: 1rem;
					width: 100%;
					display: flex;
					justify-content: space-around;

					& .Loginforget_account_a {
						background: none;
						text-decoration: none;
						color: gray;
						border: none;
						flex: 1;

						&:nth-child(2) {
							border-left: 2px solid lightgrey;
							border-right: 2px solid lightgrey;
						} 
					}
				}

				// 로그인 창
				& .Loginlogin_button_wrap {
					/* 비번창, 로그인버튼 간격 띄우기*/
					width: 100%;

					& button {
						/* 로그인 버튼 디자인*/
						margin: 0;
						width: 100%;
						height: 50px;
						font-size: 18px;
						font-weight: bold;
					}
				}
      }

			// 브랜드 로그인
			& .Logincontainer {
				display: flex;
				flex-direction: column;

				& .or_box {
					margin: 2rem 0;
					display: flex;
					justify-content: space-between;
					align-items: center;

					& hr {
						width: 40%;
					}

					& span {
						color: #c19d95;
					}
				}
			
				& button {
					& div {
						display: flex;
			
						& img {
							flex: 1;
						}
			
						& p {
							flex: 10;
							display: flex;
							align-items: center;
							justify-content: center;
							margin: 0;
							font-size: 18px;
						}
					}
				}
			}
    }
  }
}
