.cre_all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  min-height: 700px;

  .cre_result {
    height: 620px;
    width: 900px;
    position: relative;
    overflow: hidden;

    .show {
      top: 5% !important;
    }

    .layer {
      width: 170px;
      min-height: 60px;
      border-radius: 7px;
      box-shadow: 0 0 3px grey;
      position: absolute;
      right: 5%;
      top: -105%;
      background-color: white;
      z-index: 3;
      transition: top 0.2s;

      .header {
        font-size: 0.8rem;
        border-bottom: 1px solid grey;
        padding: 0.2rem 0 0.2rem 1rem;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 7px 7px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          margin: 0;
        }
      }

      .layer_body {
        overflow: auto;
        max-height: 200px;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;

        .select {
          background-color: #a6fae1;

          &:hover {
            background-color: lighten(#a6fae1, 12%) !important;
          }
        }

        .item {
          max-height: 45px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.1rem 0.5rem;
          cursor: pointer;

          $layer_move_color: #81bcff;
          &.top {
            border-top: 3px solid $layer_move_color;
          }
          &.middle {
            background-color: $layer_move_color;
          }
          &.bottom {
            border-bottom: 3px solid $layer_move_color;
          }

          > .icon {
            width: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.3rem;

            svg {
              font-size: 0.9rem;
              color: rgba(0,0,0,0.7);
            }
          }

          .content {
            overflow: hidden;

            .image_box {
              width: 40px;
              height: 40px;
              border: 2px dashed grey;
              border-radius: 7px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: white;

              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            p {
              white-space: nowrap;
              text-overflow: ellipsis;
              margin: 0;
              overflow: hidden;
              font-size: 0.9rem;
            }
          }

          .btns {
            display: flex;

            button {
              margin: 0;
              width: 34px;

              svg {
                color: rgba(0,0,0,0.7);
              }
            }
          }

          &:hover {
            background-color: lightgrey;
          }
        }
      }
    }

    .cre_mainImg {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      justify-content: space-around;

      .cre_canvas {
        width: 100%;
        height: 100%;
      }
    }
  }

  .side_edit_toggle {
    position: absolute;
    left: 100%;
    bottom: 5%;
    z-index: 2;

    button {
      margin: 0;
      padding: 0;
      border-radius: 0 7px 7px 0;
      padding: 0.5rem 0.3rem;
      box-shadow: 1px 0 3px -1px grey;
      color: #60ab90;
    }
  }

  .side_edit_active {
    left: 0 !important;
    transition: left 0.6s;
  }

  .side_edit {
    z-index: 2;
    position: absolute;
    left: -109px;
    top: 50%;
    transform: translate(0, -50%);
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    transition: left 0.6s;
    box-shadow: 0px 0 2px grey;
    background-color: white;
    border-radius: 0 7px 7px 0;

    > ul {
      padding: 0;
      margin: 2rem 0.5rem 0;
    }

    li {
      position: relative;
      margin-bottom: 1rem;

      .cre_acc_click,
      > div {
        font-size: 0.9rem;
        cursor: pointer;
        align-items: center;
        display: flex;
        flex-direction: column;

        svg {
          height: 30px;
          width: 30px;
          padding: 15px;
          background-color: white;
          border-radius: 50%;
          margin: 0 0 10px 0;
          border: 2px solid #60ab90;
          color: #60ab90;
          opacity: 0.9;
        }
      }

      .unactive {
        opacity: 0.7;

        svg {
          border: 2px solid grey;
          color: grey;
        }
      }

      .tumtype_select {
        position: absolute;
        display: flex;
        left: 105%;
        top: 0;
        overflow: hidden;
        transition: 0.5s ease;
        transform: translate(-10%, 0);
        opacity: 0;
        padding: 0;

        &.active {
          transition: 0.5s ease;
          transform: translate(0);
          opacity: 1;
        }

        &.displaynone {
          display: none;
        }

        div {
          margin: 0 0.5rem;
        }
      }

      #imageUpload {
        display: none;
      }
    }
  }
}

.cre_option_hidden {
  width: 320px;
  box-shadow: 0 0 3px grey;
  border-radius: 0 7px 7px 0;
  z-index: 3;
  background-color: white;
  height: 620px;
  overflow: hidden;

  .option_active {
    position: relative;
    top: 0%;
    transition: top 0.2s;
  }
  .select_active {
    position: relative;
    top: -100%;
    transition: top 0.2s;
  }

  .option_select,
  .canvas_select {
    padding: 1rem;
    height: 620px;
    width: 320px;

    h2 {
      font-weight: 100;
      font-size: 1.7rem;
    }

    > p {
      margin: 0;
      text-align: right;
      font-size: 0.95rem;
      color: grey;
    }

    .cre_colorDiv {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0.5rem 0;

      .cre_color {
        box-shadow: 0 0 3px grey;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 0.3rem;
        border: 2px solid white;
      }

      .active {
        border: 2px solid #a6fae1;
        box-shadow: 0 0 10px #4debbb;
      }
    }

    .select_block {
      margin: 1.5rem 0;

      button {
        margin: 0;
        width: 100%;
        padding: 0.5rem 0;
        color: grey;

        &:hover {
          background-color: lighten(#a6fae1, 15%);
        }
      }

      > div {
        display: flex;
        margin: 0.1rem 0;
      }

      > p {
        font-size: 0.9rem;
        color: black;
        margin: 0;

        &::after {
          content: '-';
          margin-left: 0.5rem;
        }
      }

      .Met_select,
      .straw_select {
        div {
          margin: 0 0.1rem;
          width: 50%;
        }
      }

      .size_select {
        div {
          margin: 0 0.1rem;
          width: 33.333%;
        }
      }

      .actvie {
        button {
          margin: 0;
          width: 100%;
          padding: 0.5rem 0;
          color: grey;
          background-color: lighten(#a6fae1, 5%);

          &:hover {
            background-color: darken(#a6fae1, 5%);
          }
        }
      }
    }

    .cre_calc {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0.5rem;

      p {
        margin: 0;
        font-size: 0.9rem;
        color: grey;
      }

      h3 {
        font-weight: 100;
        margin: 0.3rem;
      }
    }

    #btn {
      display: flex;
      flex-direction: column;

      > span {
        width: 100%;
      }

      button {
        width: 100%;
        margin: 0.3rem 0;
      }
    }
  }

  .canvas_select {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .textinput {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      padding: 1rem 0;
      border: none;
      border-bottom: 2px solid gray;

      &:focus-visible {
        outline: none;
      }
    }

    .color_select {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      label {
        width: 80%;
        text-align: center;
        padding: 0.3rem 0;
        border-radius: 500px;
        margin-bottom: 0.3rem;

        &:hover {
          background-color: grey;
        }
      }

      svg {
        margin-right: 0.5rem;
      }

      #colorinput {
        width: 0;
        height: 0;
        opacity: 0;
        bottom: 0;
        position: absolute;
      }
    }

    select {
      width: 100%;
      margin: 1rem 0;
      text-align: center;
      appearance: none;

      &:focus-visible {
        outline: none;
      }

      option {
        font-size: 1.2rem;
      }
    }

    .swatches-picker {
      width: 100% !important;
      > div {
        > div {
          box-shadow: none !important;
        }
      }
    }
  }
}

.create_modal {
  height: 80vh;
  max-height: 700px;
  box-sizing: border-box;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h4 {
    font-size: 1.8rem;
    font-weight: 100;
    margin: 2rem 0 1rem;
  }

  .product_info {
    padding-left: 1rem;

    p {
      margin: 0;
      font-size: 0.95rem;
      color: grey;

      &::before {
        content: '-';
        margin-right: 0.5rem;
      }
    }
  }

  .count_pay {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;

    .plus_minus {
      display: flex;

      button {
        padding: 0.3rem;
        width: 2.5rem;
        aspect-ratio: 1/1;
        margin: 0;
      }

      p {
        border-top: 1px solid #4debbb;
        border-bottom: 1px solid #4debbb;
        width: 2.5rem;
        aspect-ratio: 1/1;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .pay {
      p {
        margin: 0;
        text-align: right;

        &:nth-child(1) {
          color: grey;
          font-size: 0.9rem;
        }
        &:nth-child(2) {
          font-size: 1.5rem;
          font-weight: 100;
        }
      }
    }
  }

  .end_btns {
    button {
      width: 100%;
      margin: 0.3rem 0;
      border: 1px solid #4debbb;
      padding: 0.6rem 0;

      span {
        color: #60ab90;
      }
    }
  }
}

.imgs {
  background-color: white;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}