.cre_color{
    border: solid black 2px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
};

.cre_colorDiv{
    display: flex;
};

.cre_all{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.cre_result {
    width: 900px;
    height: 500px;
    margin: 0px 50px 20px 0px;
}

.cre_edit{
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
}

.cre_editdiv{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.cre_icon{
    height: 20px;
    margin: 0 0 5px 0;
}

.cre_mainImg{
    display: flex;
    align-items: center;
    position: relative;
    width: 900px;
    height: 500px;
    justify-content: space-around;
}

.cre_img{
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0px;
}

.cre_edit2{
    position: absolute;
    top: 28%;
    left: 84.5%;
}

.cre_editdiv2{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    align-items: center;
    margin: 20px;
    position: relative;

    input {
        position: absolute;
        top: 30%;
        left: -200%;
    }
}



.cre_acc{
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
}

.cre_acc_click{
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cre_acc_clicked{
    display: flex;
    margin: 0 10px;
    overflow: hidden;
    transition: 0.5s ease;
    transform: translate(10%, 0);
    opacity: 0;

    &.active {
        transition: 0.5s ease;
        transform: translate(0);
        opacity: 1;
    }

    &.displaynone {
        display: none;
    }
}

.cre_acc_icon{
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.cre_acc_display{
    display: flex;
}


.cre_icon2{
    height: 30px;
    width: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    margin: 0 0 10px 0;
    border: 2px solid #60ab90;
    color: #60ab90;
    opacity: 0.9;
}

.cre_layer_div{
    width: 150px;
    position: absolute;
    border-radius: 5px;
    left: 20px;
    top: 100px;
}

.cre_layer_title{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px 0 5px 0;
}

.cre_layers{
    background-color: white;
    font-size: 15px;
    border-radius: 5px;
}

.cre_layer{
    padding: 10px;
    display: flex;
    align-items: center;
}

.cre_layer_icon{
    position: absolute;
    right: 15px;
}






.cre_opt{
    width: 300px;
}

.cre_selectbox {
    background-color: white;
    width: 250px;
    padding:5px;
    border:1px solid #60ab90;
    font-family:'Nanumgothic';
    border-radius:5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance : none;
    margin: 10px;
}

.cre_calc{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 50px 20px 20px;
}

.cre_savepay{
    display: flex;
}

#btn {
    display: flex;
    flex-direction: column;
}

.cre_canvas{
    border: 1px solid red;
    position: absolute;
    width: 900px;
    height: 500px;
    top: 0px;
}