#App_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 30;

  .nav {
    display: flex;
    padding: 0;
    margin-bottom: 0;

    li {
      margin: 1rem 1.5rem;
      font-family: "navi";
      line-height: 1;

      a {
        text-decoration: none;
        color: #212529;
        display: block;
        overflow: hidden;

        span {
          position: relative;
          display: inline-block;
          transition: transform 0.35s;

          &::before {
            content: attr(data-hover);
            position: absolute;
          }

          &:nth-child(odd)::before {
            top: 105%;
            color: #a6fae1;
          }

          &:nth-child(even)::before {
            bottom: 105%;
            color: #c5a8a1;
          }
        }

        &:hover {
          span {
            &:nth-child(1) {
              transform: translate(0, -105%);
              transition: transform 0.2s;
            }

            &:nth-child(2) {
              transform: translate(0, 107%);
              transition: transform 0.4s;
            }

            &:nth-child(3) {
              transform: translate(0, -105%);
              transition: transform 0.5s;
            }

            &:nth-child(4) {
              transform: translate(0, 107%);
              transition: transform 0.55s;
            }
          }
        }
      }

      .active {
        span {
          &:nth-child(odd) {
            transform: translate(0, -105%);
          }
          &:nth-child(even) {
            transform: translate(0, 107%);
          }
        }
      }
    }
  }

  .app_bar,
  .app_bar_cart {
    display: none;
  }

  #App_nav {
    flex: 10;
  }

  #App_subnav {
    #main_subnav {
      display: flex;
      justify-content: space-evenly;
      padding: 0;
      margin: 5px 0;

      a {
        text-decoration: none;
        color: #212529;
      }

      .search {
        display: flex;
        align-items: center;
        border-radius: 500px;
        transition: box-shadow 0.2s;
        transition-delay: 0.5s;

        input {
          width: 0;
          border: none;
          opacity: 0;
          font-size: 1.05rem;
          padding: 0;
          transition: width 0.7s, padding 0.7s, opacity 0.3s;

          &:focus-visible {
            outline: none;
          }
        }

        button {
          svg {
            transition: color 0.3s;
          }
        }
      }

      .active {
        box-shadow: 0px 0px 5px #a6fae1;
        transition: box-shadow 0.3s;

        input {
          border: none;
          margin-left: 1rem;
          width: 15rem;
          font-size: 1.05rem;
          padding: 0 0.5rem 0 1rem;
          opacity: 1;
          transition: width 0.7s, padding 0.7s, opacity 0.2s;
          transition-delay: 0.1s;

          &:focus-visible {
            outline: none;
          }
        }

        button {
          svg {
            color: #a6fae1;
            transition: color 0.3s;
          }
        }
      }

      .cartpopover {
        min-width: 450px;
        min-height: 300px;
        height: auto;
        background-color: white;
        border: 1px solid lightgray;
        mask-border-repeat: 5px;
        padding: 10px;
        .popup_content > .empty_cartpopup {
          text-align: center;
          justify-content: center;
          position: relative;
          top: 95px;
        }
      }

      button {
        img {
          width: 45px;
        }
      }

      li:nth-child(3) {
        > div {
          > button {
            padding: 0;

            span:nth-child(1) {
              width: 100%;
              height: 100%;

              .user_svg {
                width: 100%;
                height: 100%;
                background-color: #a6fae1;
                display: flex;
                align-items: center;

                svg {
                  margin: auto;
                  color: white;
                }
              }
            }
          }
        }
      }

      .acount_nav {
        background-color: white;
        padding: 2rem 1rem;
        border-radius: 7px;
        box-shadow: 0 0 3px grey;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: none;
        min-width: 300px;
        top: 1rem !important;

        .popover-arrow {
          display: none;
        }

        .user_img {
          border-radius: 50%;
          overflow: hidden;
          width: 96px;
          aspect-ratio: 1/1;
          margin-bottom: 1.5rem;
          display: flex;
          align-items: center;
          img {
            width: inherit;
            object-fit: cover;
          }
          .user_svg {
            width: 100%;
            height: 100%;
            background-color: #a6fae1;
            display: flex;
            align-items: center;

            svg {
              margin: auto;
              color: white;
            }
          }
        }
        .name_editBtn {
          display: flex;
          align-items: center;
          .button {
            padding: 5px;
            border: none;
          }
        }
        p {
          margin: 0;

          &:nth-child(2) {
            font-size: 1.1rem;
            color: black;
            font-weight: 100;
          }
          &:nth-child(3) {
            font-size: 1rem;
            color: grey;
            font-weight: 100;
          }
        }

        hr {
          width: 100%;
        }

        a {
          width: 100%;
        }

        button {
          border-radius: 500px;
          padding: 0.5rem 2rem;
          font-size: 1rem;
          border: 1px solid lightgrey;
          color: grey;
          width: 100%;
          margin: 0.25rem 0;
        }
      }
    }
  }
}

// 반응형

@media (max-width: 992px) {
  #App_header {
    justify-content: space-between;

    // 기존 header 에서 가려질 것들
    #App_nav {
      display: none;
    }
    #App_subnav {
      display: none;
    }
    #App_subnav {
      #main_subnav {
        li {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(3) {
            display: none;
          }
        }
      }
    }

    // nav_side_bar
    .nav_side_bar {
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      // 공통 스타일
      ul {
        margin: 0;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;

        button {
          width: 100%;
          margin: 0.5rem 0;

          span {
            display: flex;
            align-items: center;
            font-size: 1.1rem;

            svg {
              margin: 0 1rem 0 0;
            }
          }
        }
        .name_editBtn {
          display: flex;
          align-items: center;
          .button {
            padding: 5px;
            border: none;
          }
        }
      }

      a {
        text-decoration: none;
        display: block;
        width: 100%;
      }

      // 계정 부분
      .account {
        margin-top: 1rem;

        li {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;

          .user_img {
            border-radius: 50%;
            overflow: hidden;
            width: 96px;
            aspect-ratio: 1/1;
            margin: 1rem 0;
            display: flex;
            align-items: center;

            img {
              width: inherit;
              object-fit: cover;
            }
            .user_svg {
              width: 100%;
              height: 100%;
              background-color: #a6fae1;
              display: flex;
              align-items: center;

              svg {
                margin: auto;
                color: white;
              }
            }
          }

          &:nth-child(2) {
            p {
              margin: 0;
              &:nth-child(1) {
                font-size: 1.1rem;
                color: black;
                font-weight: 100;
              }
              &:nth-child(2) {
                font-size: 1rem;
                color: grey;
                font-weight: 100;
              }
            }
          }

          button {
            color: grey;
            padding: 0.9rem 0;
            margin: 0.3rem 0;

            span {
              font-size: 1rem;
            }
          }
        }
      }

      // 네비게이션 부분
      .side_nav {
        button {
          padding: 0.8rem 0;
          margin: 0.2rem 0;

          span {
            color: black;
            font-size: 1rem;

            svg {
              display: none;
            }
          }
        }

        .active {
          span {
            color: #c5a8a1;
            font-weight: bold;

            svg {
              display: block;
              margin: 0 0 0 1rem;
            }
          }
        }
      }

      // 검색창 부분
      .search {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 0px 2px black;
        border-radius: 7px;
        margin: 1rem 1rem;
        padding: 0.3rem 0;

        input {
          border: none;
          width: 100%;
          display: block;
          width: 200px;

          &:focus-visible {
            outline: none;
          }
        }

        button {
          margin: 0;
          padding: 0.5rem 0;
          width: 40px !important;
          height: 40px;

          span {
            color: rgb(58, 58, 58);

            svg {
              margin: 0;
            }
          }
        }
      }
    }

    // 카트 스타일 자리
    .app_side_bar {
      .popup_content > .empty_cartpopup {
        align-items: center;
        position: relative;
        top: 200px;
      }
    }
  }
}
