
  // input type="number" 우측 화살표 버튼 제거
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    
/* 회원가입 페이지 전체 디자인*/
.Joinmain_signup {
  text-align: center;
  width: 460px;
  margin: auto;
  h2 {
    margin: 2rem;
  }
  .filebox {
    padding: 5px;
    
    label { margin: 1rem; padding: 5px; border-radius: 5px; background-color: lightgrey;}
    span { margin: 1rem; padding: 5px;  border-radius: 5px; background-color: lightgrey;}
  }
  
  /* 모든 제목창 디자인 */
  & .Jointext {
    margin: 1rem 0px 0.5rem;
    text-align: left;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* 프로필사진 */
  & img {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
  }

  /* 아이디, 비밀번호/재확인 입력창 외부 디자인 */
  & .Joinsignup_input,
  & .JoinphoneNumberSpan {
    display: flex;
    padding: 10px;
    border: solid 1px #dadada;
    border-radius: 7px;
    background: #fff;
    width: 100%;
  }

  // & .Joinname_birth_gender_email {
  //   margin-top: 3rem;
  
  //   & .JoinbirthOption {
  //     display: flex;
  //     justify-content: space-between;
  
  //     & .Joinsignup_input_birth {
  //       display: block;
  //       position: relative;
  //       width: 31%;
  //       height: 51px;
  //       border: solid 1px #dadada;
  //       padding: 10px;
  //       background: #fff;
  //       box-sizing: border-box;
  //       border-radius: 7px;
  
  //       /* 생년월일 입력창 */
  //       & .Joinsignup_birth_yy,
  //       & .Joinsignup_birth_mm,
  //       & .Joinsignup_birth_dd {
  //         width: 113px;
  //         height: 29px;
  //         border: none;
  //         outline: none;
  //       }
  //     }
  //   }
  // }
  
  // 휴대전화 입력창
  & .JoininputPhone {
    margin-top: 2rem;
  
    & .JoinphoneNumberSpan {
      margin-top: 1rem;
    }
  }

  & .btn_box {
    margin:4rem 0;

    & button {
        width: 70%;
        border-radius: 100px;
    }
  }
}


