// input type="number" 우측 화살표 버튼 제거
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

.Joinmain_signup {
  text-align: center;
  width: 460px;
  margin: auto;
  h2 {
    margin: 2rem;
  }
  .filebox {

    
    label, span {
      margin: 1rem;
      padding: 15px;
      border-radius: 30%;
      cursor: pointer;
    &:hover {
      background-color: lighten(lightgrey,10%);
      transition: background-color, 0.3s;
      }
    }

  //     margin: 1rem; 
  //     padding: 5px; 
  //     border-radius: 5px; 
  //     background-color: lightgrey;
  //     cursor: pointer;
  //     padding: 1rem 1.5rem;
  // border-radius: 7px;
  //   }
    // span { 
    //   margin: 1rem; 
    //   padding: 5px;  
    //   border-radius: 5px; 
    //   background-color: lightgrey;
    //   cursor: pointer;
    // }
  }
  
  /* 프로필사진 */
  & img {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
  }

  & .btn_box {
    display: flex;
    justify-content: center;
  }
}


