.search_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .search_input_box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 3rem 0 3rem 0;
    width: 100%;

    & input {
      border-radius: 100px 0 0 100px;
      border: 1px solid grey;
      border-right: none;
      font-size: 20px;
      padding: 0.5rem 1rem;
      width: 40%;
    }
  }

  & .search_tabs {
    width: 100%;
    margin-bottom: 3rem;

    & a {
      text-decoration: none;
      box-sizing: border-box;
      display: block;
      position: relative;

      & p {
        margin: 0;
        padding: 0;
        font-weight: bold;
      }
    }

    & .active_bar {
      width: 0%;
      height: 4px;
      background-color: blue;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }

    & .active {
      background-color: darken(white, 10%);

      & .button {
        background-color: transparent;
      }

      & .active_bar {
        width: 100%;
        transition: width 0.2s;
      }
    }
  }

  & .result_text {
    display: block;
    text-align: center;
    margin: 1rem 0 2rem;
  }

  & .search_result {
    width: 100%;
    padding: 0 1rem;

    & .result_box {
      margin-bottom: 5rem;
      
      & .result_box_item {
        padding: 0.3rem 1rem;
        display: flex;
        cursor: pointer;

        & .img {
          margin-right: 2rem;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      & a {
        color: black;
        text-decoration: none;
        font-size: 0.9rem;
        margin: 1rem;
        float: right;

        &:hover {
          text-decoration: underline;
        }
      }

      & hr {
        clear: both;
      }
    }
  }
}
