// 모달창이 close상태일때  전체 창 상태
.serchModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  &.openModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show 0.3s;
  }

  section {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    animation: modal-show 0.3s;
    overflow: hidden;

    header {
      padding: 10px;
      background-color: #f1f1f1;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        font-size: 21px;
        font-weight: 700;
        text-align: center;
        color: #999;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        border: 0;
      }
    }

    main {
      padding: 15px;
      border-bottom: 1px solid #dee2e6;
      border-top: 1px solid #dee2e6;

      p {
        font-size: 1rem;
        font-weight: bold;

        &.ok {
          text-align: center;
          margin-top: 3rem;
        }
      }

      input {
        display: block;
        margin: auto;
        margin-bottom: 1rem;
        width: 100%;
        outline: none;
        border: none;
        font-size: 0.9rem;
        border-bottom: 1px solid black;
        margin-bottom: 0.5rem;
      }

      > span {
        font-size: 0.8rem;
        color: gray;
      }

      >div {
        margin-top: 5rem;

        >div {
          height: 30px;
          position: relative;
          >span {
            position: absolute;
            color: red;
            font-size: 0.9rem;
            width: 100%;
            text-align: center;
            display: none;
            
            &.active {
              display: block;
              animation: error_show 0.15s 3;
            }

            @keyframes error_show {
              0% {
                transform: translate(2%, 0);
              }
              50% {
                transform: translate(-2%, 0);
              }
              100% {
                transform: translate(2%, 0);
              }
            }
          }
        }

        button {
          display: block;
          margin: auto;
          width: 100%;
        }
      }
    }
  }
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
