.review_write_page {
  display: flex;
  flex-direction: column;
  max-width: 454px;
  align-items: center;
  margin: auto;

  .star_rating {
    span {
      svg {
        font-size: 3rem;
      }
    }
  }

  .write_title {
    border-style: none;
    border-bottom: 2px solid black;
    padding: 12px;
  }

  .tag_container {
    display: flex;
    border-bottom: 2px solid black;
    color: black;
    flex-wrap: wrap;
    width: 454px;
  }

  input:focus {
    outline: none;
  }

  .tag_container input {
    border: none;
    padding: 12px;
    padding-left: 12px;
    min-width: 200px;
  }

  .tag {
    display: flex;
    align-items: center;
    margin: 7px 0;
    margin-right: 10px;
    padding: 0 15px;
    border: 1px solid #9dfad9;
    border-radius: 28px;
    background-color: #9dfad9;
    white-space: nowrap;
    color: black;
    font-weight: bold;
  }

  .tag button {
    display: flex;
    padding: 6px;
    border: none;
    background-color: unset;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }

  .img_label {
    & svg {
      cursor: pointer;
    }
  }

  .review_user li {
    float: left;
    margin-right: 10px;

    .review_user_img {
      position: relative;
      height: 80px;
      width: 80px;
      background-color: gray;
    }
  }

  .review_form_btn {
    float: right;
  }

  .rating {
    clear: both;
  }

  &.review .design {
    display: none;
  }

  &.design .review {
    display: none;
  }

  .design_preview {
    height: 300px;
    width: 410px;
    background-color: gray;
  }
}