.header {
    #title {
        font-size: 1.5rem;
    }
    display: flex;
    justify-content: space-between;
}
.design_thumb {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
        display: inline-block;
        width: 10rem;
        height: 10rem;
        background-color: rgb(187, 187, 187);
    }
        
    
}