.header {
    margin: 1rem 1rem;
    #title {
        font-size: 1.5rem;
    }
    display: flex;
    justify-content: space-between;
}

#Container {
    & img {
        display: flex;
        width: 200px;
    }
}