#App_Header {
  text-align: center;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 4%;
}

#Top_nav {
  display: flex;
  justify-content: end;
  padding: 0;
  margin: 5px 0;
}

#Top_nav li {
  margin-left: 2%;
}