body {
  margin: auto;
}

.pullpage_loading {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner-border {
    color: #a6fae1;
    font-size: 5rem;
    width: 15rem;
    height: 15rem;
  }
}
