@font-face {
  font-family: "navi";
  src: url('./fonts/BMJUA_ttf.ttf')
}

// 기본 설정
ul {
  list-style: none;
}

// 폰트
.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  font-size: 1.2rem;
}

.body {
  font-size: 1rem;
}

.caption {
  font-size: 0.8rem;
}

.text-center {
  text-align: center;
}