// 기본 설정
ul {
  list-style: none;
}

// 폰트
.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.body {
  font-size: 1rem;
}

.caption {
  font-size: 0.8rem;
}

.text-center {
  text-align: center;
}