


    .board {
        width: 100%;
        height: 500px;
    }


    .in_board {
    width: 980px;
    height: 100px;
    background-color: rgb(249, 252, 255);
    margin: 25px auto auto auto;
    }
    .menu {
        background-color:aliceblue;
        width: 100%;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }
    .title_Menu{
        width: 310px;
    }
    .contents tr {
        text-align: center;
        border-bottom: 1px solid lightgray;
        font-size: 13px;
    }
    .contents td {
        padding: 11px;
    }
    
    .contents tr:hover {
        background-color:rgb(232, 255, 248);
        cursor: pointer;
        
    }

    .answer_Ready {
        span{
            color:rgb(146, 146, 146);
            background-color: rgb(230, 230, 230);
            border: 1px solid lightgray;
            border-radius: 10px;
            padding:2px 9px 2px 9px;
            font-size: 11px;
        }
    }
    .answer {
        span{
            color:rgb(175, 255, 228);
            background-color: yellowgreen;
            border: 1px solid;
            border-radius: 10px;
            padding:2px 9px 2px 9px;
            font-size: 11.4px;
        }
    }

    .Next_Page {
        display: flex;
        flex-direction:row;
        justify-content: center;
        width:100px;
        height:50px;
        margin: 20px auto 0px auto;
        padding:10px;
    }
    .Next_Page {
        span{
            padding:0px 8px 0px 8px;
            font-size: 17px;
            font-weight:600;
        }
    }




    // 게시글 내용 css
    
    .Update_Box{
        text-align: center;
        background-color: aqua;
        border: 1px solid orange;
        border-radius: 20px;
        width: 40%;
        height: 220px;
        margin: auto auto 70px auto;
    }


