

    .QnAmain_Name {
        margin: 40px auto 35px auto;
        text-align: center;
        width: 190px;
        position: relative;
        left: 20px;
        border-bottom: 1px solid black;
        h1 {
            font-size: 35px;
        }
    }

    .QnAmain_header {
        display: flex;
        justify-content: center;
        
        background-color:rgb(255, 247, 240);
        border-radius: 25px;
        width: 600px;
        height: 60px;
        margin:auto auto 50px auto;
    }

    .FAQ, .my_quastion, .ask{
        width:200px;
        height: 50px;
        cursor: pointer;
        font-weight: bold;
        span{
            color: rgb(128, 128, 128);
        }
        span:hover {
            color: rgb(78, 78, 78);
            border-bottom: 1.5px gray solid;
        }
    }

    .FAQ, .my_quastion, .ask {
        text-align: center;
        padding-top: 10px;
        margin: auto 10px auto 10px;
        width: 170px;
        transition: 0.25s;
    }
    .FAQ:hover, .my_quastion:hover, .ask:hover {
        background-color: rgb(243, 243, 243);
        border-radius: 20px;
        transition: 0.25s;
    }
    .FAQ:active, .my_quastion:active, .ask:active {
        background-color: rgb(230, 230, 230);
        border-radius: 20px;
    }


    // .QnAmain_header {
    //     span {
    //         font-size: 14px;
    //     }

    // }
    // .FAQ, .my_quastion, .ask{
    //     text-align: center;
    //     line-height: 100px;
    //     width: 110px;
    //     height: 110px;
    //     background-color:chocolate;
    //     border: 1px solid darkgray;
    //     border-radius: 40px;
    //     text-decoration: none;
    //     color:aliceblue;
    // }

    // .FAQ:hover, .my_quastion:hover, .ask:hover {
    //     color:aliceblue;
    // }

