// 버튼
@mixin buttonanime($type) {
  & .ripple-span {
    background-color: if($type== "icon", #000, #fff);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: if($type== "icon", buttonanimaicon, buttonanima) 0.6s linear;
    pointer-events: none;
  }

  @keyframes buttonanima {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
  
  @keyframes buttonanimaicon {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }
}

.button {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  background-color: blue;
  margin: 0.5rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &.icon {
    color: inherit;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    height: inherit;
    box-shadow: none;

    @include buttonanime('icon');
  }

  &.block {
    display: flex;
  }

  @include buttonanime('');
}

// 슬라이더 화살표
.customarrow {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  right: 5px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.arrow-next {
  right: 5px;
}

.arrow-prev {
  left: 5px;
  z-index: 999;
}

// 모달
body.active-modal {
  overflow-y: hidden;
}

.ModalComp {
  & .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .content {
    background-color: rgb(255, 254, 206);
    min-width: 20rem;
    width: 600px;
    height: 20rem;
    padding: 0px;
    // 이미지 옆에 공간 삭제..
    display: flex;
    justify-content: space-between;
    & .closeButton {
      position: relative;
      top: -11em;
      left: 36em;
      border: none;
      background: transparent;
    }
    & img {
      position: inherit;
      top: 0;
    }
  }
}
