// 버튼색상
$blue: #4b93e3;
$red: #ff8888;
$orange: #ffb251;
$green: #5bdb60;
$brown: #c19d95;
$darkgreen: #3da982;
$mint: #4debbb;
$facebook: #475a96;

@mixin button($color) {
  background-color: $color;

  @if($color == $facebook) {
    &:hover {
      opacity: 0.8;
      transition: opacity, 0.3s;
    }
  } @else {
    &:hover {
      background-color: lighten($color, 10%);
      transition: background-color, 0.3s;
    }
  }
}

// 버튼애니메이션
@mixin buttonanime($type) {
  & .ripple-span {
    background-color: if($type == "icon" or $type == "white", #000, #fff);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: buttonanima 0.6s linear;
    pointer-events: none;
    aspect-ratio: 1 / 1;
  }

  @keyframes buttonanima {
    0% {
      width: 0;
      opacity: 0.5;
    }
    100% {
      width: 400%;
      opacity: 0;
    }
  }
}

// 버튼
.button {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  margin: 0.5rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: background-color, 0.3s;
  @include button($blue);
  &.red {
    @include button($red);
  }
  &.green {
    @include button($green);
  }
  &.orange {
    @include button($orange);
  }
  &.brown {
    @include button($brown);
  }
  &.darkgreen {
    @include button($darkgreen);
  }
  &.mint {
    @include button($mint);
  }
  &.facebook {
    @include button($facebook);
  }

  // 아이콘 버전
  &.icon {
    color: inherit;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    height: inherit;
    box-shadow: none;
    aspect-ratio: 1 / 1;

    &:hover {
      background-color: darken(white, 10%);
      transition: background-color, 0.3s;
    }

    @include buttonanime("icon");
  }

  // display block
  &.block {
    display: flex;
  }

  // 타일 - 끝이 뾰족하게
  &.tile {
    border-radius: 0;
  }

  // 화이트 버전
  &.white {
    background-color: white;
    color: $blue;

    &:hover {
      background-color: darken(white, 10%);
      transition: background-color, 0.3s;
    }

    @include buttonanime("white");
  }

  @include buttonanime("");
}

// 슬라이더 화살표
.customarrow {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  right: 5px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.arrow-next {
  right: 5px;
}

.arrow-prev {
  left: 5px;
  z-index: 999;
}

// 프로필 컴포넌트

.profile {
  background-color: #fae8e3;
  max-width: 21rem;
  min-width: fit-content;
  height: 10rem;
  display: flex;
  position: relative;

  .image_container {
    margin: 2rem 2rem;
    overflow: hidden;
    position: relative;
    margin: 35px 15px;
    img {
      border-radius: 50%;
      display: flex;
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
  }
  & .text {
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 1rem;
    #username {
      font-weight: bold;
    }
    #intro {
      margin-top: -0.1rem;
      font-size: small;
    }
    .social {
      margin-top: 1rem;
      display: flex;
      img {
        width: 30px;
        height: 30px;
        padding: 5px;
      }
    }
  }
  &.justName {
    width: fit-content;
    background-color: transparent;
    height: fit-content;
    .image_container {
      margin: 0;
    }
    img {
      border-radius: 50%;
      display: flex;
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
    .text {
      margin: 0;
      margin-left: 5px;
      #intro {
        display: none;
      }
    }
    .social {
      display: none;
    }
  }
  &.icon {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    & .image_container {
      width: fit-content;
      height: fit-content;
    }
    img {
      border-radius: 50%;
      display: flex;
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
    .text {
      display: none;
    }
  }
}

// 모달컴포넌트 수정필요
.modal-backdrop {
  display: none;
}
#opened-modal .modal-content {
  width: 700px;
  border: none;

  & .modal-body {
    .image {
      float: left;
      // 임시로 지정한 너비와 높이
      height: 300px;
      width: 300px;
    }
    .title-inside-modal {
      position: relative;
    }
    .info {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
    }
    .hashtag {
      display: flex;
      justify-content: center;
      margin-bottom: 70px;
    }
  }
}

// 글쓰기 폼 컴포넌트
.write_form {
  display: flex;
  justify-content: center;

  .write_title {
    border-style: none;
    border-bottom: 2px solid black;
    padding: 12px;
  }

  .tag_container {
    display: flex;
    border-bottom: 2px solid black;
    color: black;
  }

  input:focus {
    outline: none;
  }

  .tag_container input {
    border: none;
    padding: 12px;
    padding-left: 12px;
  }

  .tag {
    display: flex;
    align-items: center;
    margin: 7px 0;
    margin-right: 10px;
    padding: 0 15px;
    border: 1px solid #9dfad9;
    border-radius: 28px;
    background-color: #9dfad9;
    white-space: nowrap;
    color: black;
    font-weight: bold;
  }

  .tag button {
    display: flex;
    padding: 6px;
    border: none;
    background-color: unset;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }

  .review_user li {
    float: left;
    margin-right: 10px;

    .review_user_img {
      position: relative;
      height: 80px;
      width: 80px;
      background-color: gray;
    }

    .rating_star {
      padding-top: 5px;
      color: lightgray;
      cursor: pointer;
    }
  }

  .review_form_btn {
    float: right;
  }

  .rating {
    clear: both;
  }

  &.review .design {
    display: none;
  }

  &.design .review {
    display: none;
  }

  .design_preview {
    height: 300px;
    width: 410px;
    background-color: gray;
  }
}

// 페이지 컴포넌트
.pagination {
  display: flex;
  justify-content: space-around;
}
