// 버튼
.button {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  background-color: blue;
  margin: 0.5rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &.icon {
    color: inherit;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    height: inherit;
    box-shadow : none;
  }

  &.block {
    display: flex;
  }

  & span {
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: buttonanima 1s linear;
    pointer-events: none;
  }

  @keyframes buttonanima {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
}

.customarrow {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  right: 5px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.arrow-next {
  right: 5px;
}

.arrow-prev {
  left: 5px;
  z-index: 999;
}
