// 버튼
.button {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  background-color: blue;

  &.icon {
    color: inherit;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    height: inherit;
    box-shadow : none;
  }
}

.customarrow {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  right: 5px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.arrow-next {
  right: 5px;
}

.arrow-prev {
  left: 5px;
  z-index: 999;
}
