#review_card {
  min-width: 300px;
  margin-right: 30px;
  margin-bottom: 45px;
  .card-img-top {
    height: 170px;
    width: 300px;
  }
  .card-title {
    display: flex;
    justify-content: space-between;
  }
}
